//этот миксин подключает шрифты из папки
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url('../fonts/#{$file_name}.woff') format('woff'),
			url('../fonts/#{$file_name}.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

// Здесь вписывается всё по самими шрифтам
@include font('Roboto', 'Roboto-Light', '300', 'normal');
@include font('Roboto', 'Roboto-Medium', '400', 'normal');
@include font('Roboto', 'Roboto-Bold', '700', 'normal');
@include font('Roboto', 'Roboto-Black', '900', 'normal');

@include font('FORTNITE', 'FORTNITE', '400', 'normal');
// @include font('B52', 'B52-Regular', '400', 'normal');
