.text-block {
	color: $text-color;
	font-size: 18px;
	max-width: 635px;
	margin-left: auto;
	line-height: 1.6;
	margin-bottom: 90px;
	p {
		margin: 0 0 $text-p-margin-bottom;

		&:last-child {
			margin-bottom: 0;
		}

		img {
			margin: 20px 0 40px;
			// box-shadow: #f4cd00 20px 15px 0;
		}

		@media (max-width: 767px) {
			img {
				margin: 20px 0px;
			}
		}
	}

	img {
		@extend %img-max-full-width;
		// @include border-radius(10px);
	}
}

.content-block {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.sidebar-block {
	width: 300px;
	margin-left: 40px;
}

.fb-video,
.embed-responsive {
	margin: 30px 0 50px;
}
