$image-path: 'assets/images/';
$font-path: 'assets/fonts/';

$grid-item-padding-x: 15px;

$text-p-margin-bottom: 15px;

$black: #1f1f1f;

$primary-color: rgba(0, 0, 0, 0.04);
$secondary-color: #ffd600;
$text-color: $black;

$navbar-height: 35px;
